@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #ffffff;
    color: #131322;
    font-family: 'Roboto', sans-serif; /* Updated font-family */
    padding: 0;
    margin: 8em; /* Added margin */
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
    transition: all;
}

iframe {
    border: none;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    text-align: center;
}

.project h3, .project p, .project img {
    flex: 1 0 auto;
}

.project img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    object-fit: cover; /* cover the entire width of the container while maintaining aspect ratio */
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #131322;
    text-decoration: underline;
}

