@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #f5eded;
    color: #131322;
    font-family: 'Roboto', sans-serif; /* Updated font-family */
    padding: 0;
    margin: 8em; /* Added margin */
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
    transition: all;
}

iframe {
    border: none;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}

.project {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    cursor: pointer;
}