@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 2cm; /* Adjust margins as needed */
    line-height: 1.6; /* Adjust line height as needed */
}

.document {
    padding: 2cm; /* Adjust padding as needed */
}

h1 {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px;
}

p {
    font-size: 12pt; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.map-container {
    display: flex;
    justify-content: space-around;
}

.map {
    width: 100%;
}

@media (min-width: 600px) {
    .map {
        width: 45%;
    }
}